{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <div class="box">
        <form method = "post" action = "/login/">

            {% csrf_token %}

        <h2>Login</h2>
        <div class="input-box">
            <label>username</label>
            <input name="username" type="text"/>
        </div>
        <div class="input-box">
            <label>password</label>
            <input name="password" type="password"/>
        </div>
        <div class="btn-box">
            <a href="#">forgot password</a>
            <div>
                <button>login</button>
                <button>register</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>