<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/News.css">
    <link rel="stylesheet" href="../static/header.css">
</head>

<body>
    <div>
        <div class="nav_concent">
            <div class="nav_img">
                <img src="img/nav.png" class="nav_one">
                <div>
                    <input type="search"  class="search" placeholder="Search for jobs,companies">
                    <button type="button" class="btnn">搜索</button>
                </div>
            </div>
            <img src="img/nav2.png" class="nav_two" alt="">

        </div>
        <div class="concent">
            <h3>News</h3>
            <div class="feng_img">
                <div class="feng">
                    <img src="img/feng1.png" alt="">
                    <div class="img_span">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                </div>
                <div class="feng">
                    <img src="img/feng2.png" alt="">
                    <div class="img_span">
                        <h4>南北山水</h4>
                        <h5> 巴东三峡巫峡长，猿鸣三声泪沾裳.</h5>
                    </div>
                </div>
                <div class="feng">
                    <img src="img/feng3.png" alt="">
                    <div class="img_span">
                        <h4>《注水经》</h4>
                        <h5>父亲郦范、北魏雄主孝文帝，将父子之情、君臣之义融入到郦道元的传奇人生中.</h5>
                    </div>
                </div>
                <div class="feng">
                    <img src="img/feng4.png" alt="">
                    <div class="img_span">
                        <h4>宇宙未有之奇书</h4>
                        <h5>致敬古代先贤以民生为本、追求人水和谐的精神 .</h5>
                    </div>
                </div>
            </div>
            <h3>Hot recruitment positions</h3>
            <div class="concent_title">
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
            </div>
            <div class="concent_title">
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
                <div class="concent_one">
                    <div class="span_title">
                        <span>Title</span><span class="span_color">30k</span>
                    </div>
                    <div class="span_t">
                        <h4>携手再现</h4>
                        <h5>大江大河孕育了中华文明，万水千川荡涤着历史变迁，水是中华民族赖以生存的根.</h5>
                    </div>
                    <div class="bc">
                        <div class="yuan_p">
                            <div class="yuan"></div>
                            <span>Company</span>
                        </div>
                        <button class="btn">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>