<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Python.css">
    <link rel="stylesheet" href="../static/header.css">
</head>

<body>
    <div>
        <div class="nav_concent">
            <div class="nav_img">
                <img src="img/nav.png" class="nav_one">
                <div>
                    <input type="search"  class="search" placeholder="Search for jobs,companies">
                    <button type="button" class="btnn">搜索</button>
                </div>
            </div>
            <img src="img/nav2.png" class="nav_two" alt="">

        </div>
        <div class="concent">
            <div class="concent_tatlo">
                <div class="concent_left">
                    <div class="concent_leftone">
                        <div class="span_title">
                            <h2>Python Programmer</h2><h3 class="span_color">8k</h3>
                        </div>
                        <div class="span_t">
                            <h4>iconfont-国内功能很强大且图标内容很丰富的矢量图标库</h4>
                            <h4>iconfont-国内功能很强大且图标内容很丰富的矢量图标库</h4>
                            <h4>iconfont-国内功能很强大且图标内容很丰富的矢量图标库</h4>
                        </div>
                        <div class="concent_lfetimg">
                            <div class="concent_tidu">
                                <img src="img/ditu.png"><span>Python</span>
                            </div>
                            <div class="concent_tidu">
                                <div class="yuan"></div>Company || Department
                            </div>
                            <div class="concent_tidu">
                                <img src="img/info.png">email:abc@uofg.cpm
                            </div>
                        </div>
                    </div>
                    <div class="concent_lefttow">
                        <h2 class="h2">Job description </h2>
                        <h4 class="h4">携手再现</h4>
                        <div class="span_h">
                            <h4>巴东山西无限次</h4>
                            <h4>携手再现</h4>
                            <h4>长江之水穿越黄河</h4>
                        </div>
                        <div class="span_h1">
                            <h4>长江之水穿越黄河</h4>
                            <h4>巴东山西无限次</h4>
                        </div>
                        <div class="span_h2">
                            <h4>长江之水穿越黄河</h4>
                            <h4>携手再现</h4>
                            <h4>巴东山西无限次</h4>
                            <h4>携手再现</h4>
                            <h4>携手再现</h4>
                        </div>
                        <div class="span_h1">
                            <h4>长江之水穿越黄河</h4>
                            <h4>携手再现</h4>
                        </div>
                        <div class="span_h4">
                            <h4>携手再现</h4>
                            <h4>巴东山西无限次</h4>
                            <h4>携手再现</h4>
                            <h4>携手再现</h4>
                            <h4>长江之水穿越黄河</h4>
                        </div>
                    </div>
                </div>
                <div class="concent_right">
                    <span>Company Information</span>
                    <img src="img/feng1.png">
                    <h4 class="h41">携手再现</h4>
                    <div class="span_right">
                        <h4>携手再现</h4>
                        <h4>巴东山西无限次</h4>
                    </div>
                    <div class="span_right1">
                        <h4>携手再现</h4>
                        <h4>携手再现</h4>
                    </div>
                    <div class="span_right">
                        <h4>巴东山西无限次</h4>
                        <h4>携手再现</h4>
                    </div>
                    <div class="span_right1">
                        <h4>携手</h4>
                        <h4>携手再现</h4>
                    </div>
                    <div class="h41">
                        <h4>携手再现</h4>
                    </div>
                    <div class="span_right3">
                        <h4>巴东山西无限次</h4>
                        <h4>携手再现</h4>
                        <h4>巴东山西无限次</h4>
                    </div>
                    <div class="span_right3">
                        <h4>巴东山西无限次</h4>
                        <h4>巴东山西无限次</h4>
                        <h4>携手再现</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>